// Header Font options:
// font-family: 'Nixie One', cursive;
// font-family: 'Red Hat Display', sans-serif;
// font-family: 'Roboto', sans-serif;
// font-family: 'Knewave', cursive;
// font-family: 'Bebas Neue', cursive;
// font-family: 'Bungee Shade', cursive;
// font-family: 'Playfair Display', serif;
// font-family: 'Major Mono Display', monospace;

// font-family: 'Abril Fatface', cursive;
// font-family: 'Noto Serif JP', serif;
// font-family: 'Prata', serif;
// font-family: 'Josefin Slab', serif;
// font-family: 'Ultra', serif;

* {
    margin: 0;
    padding: 0;
  }

  $main-text-color: white;
  $main-comp-height: 95vh;
  $main-comp-pad-top: 5vh;
  
  
  #landing-comp {
    background-color: #263848;
    color: $main-text-color;
    height: $main-comp-height;
    padding-top: $main-comp-pad-top;
  }
  
  #about-comp {
    background-color: #263848;
    color: $main-text-color;
    height: $main-comp-height;
    padding-top: $main-comp-pad-top;
    padding-bottom: 0px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }
  
  #projects-comp {
    background-color: white;
    color: #263848;
    height: $main-comp-height;
    padding-top: $main-comp-pad-top;
  }
  
  #contact-comp {
    background-color: #263848;
    color: $main-text-color;
    height: $main-comp-height;
    padding-top: $main-comp-pad-top;
  }