#nav-comp {
    background-color: orange;
    color: white;
    height: 5vh;
    min-height: 25px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    position: fixed;
    flex-direction: row-reverse;
  }

.nav-menu-opt {
    padding: 5px;
    font-family: 'Josefin Slab', serif;
    font-size: 24px;
    margin-left: 3px;
}

.nav-menu-opt:hover {
    font-size: 24px;
    color: white;
    background-color: orangered;
    border-radius: 10px;
    // border: 2px solid white;
}

#nav-header-text {
    padding-top: 1vh;
    padding-right: 2vw;
    font-size: 110px;
    font-family: 'Ultra', serif;
    font-weight: 400;
    text-shadow: -2px 2px 2px orangered;
    color: white;
}

#nav-menu-links {
    display: flex;
    color: #263848;
    align-items: center;
}